/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
html {
  font-family: "BioRhyme", serif, "Work Sans", sans-serif;
  color: #ebe9ea;
  background-color: #acbaa8;
  font-size: 62.5%;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 8rem;
  margin: 5rem 5rem 0.5rem 5rem;
  font-style: normal;
  font-weight: 600;
  text-transform: none;
}
.linebreak {
  display: flex;
  background-color: #acbaa8;
  width: 100%;
  border: 1px solid #ebe9ea;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 3.4rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
  font-family: "Work Sans", sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.headerImg {
  display: flex;
  justify-content: flex-end;
  background: url("assets/Image-1.jpg");
  width: 75rem;
  height: 40rem;
  background-position: 0rem -33rem;
  border-radius: 0.5rem;
  margin: 4rem;
  box-shadow: 0.5rem 0.5rem 1rem #1f2a3b;
  transition: 0.3s;
}
.headerImg:hover {
  box-shadow: 0.5rem 0.5rem 1rem 0.05rem #1f2a3b;
}
.links {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #ebe9ea;
  color: #ebe9ea;
  /* margin: 100px; */
}
.linkItems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 7rem;
  font-size: 2rem;
  text-decoration: none;
  color: #ebe9ea;
  font-family: "Work Sans", sans-serif;
  /* border: 1px solid black; */
  transition: 0.3s;
  /* margin: 3%; */
}
.linkItems:hover {
  width: 22rem;
  background-color: #b29497;
}
.mainContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height:80%;
  width: 1500px;
  margin:0 auto;
}
.mainContainer {
    display:flex;
}
.mainContent .item {
  display: flex;
  flex-direction: column;
  /* margin:10rem; */
  transition: 0.3s;
  height: 40rem;
  width: 40rem;
  margin: 10rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #1f2a3b;
}
.mainContent .item:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem #1f2a3b;
}
.itemText {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 4% 0 4% 0;
}
.contactMe {
  display: flex;
  justify-content: flex-end;
  background-color: #b29497;
  height: 10rem;
  align-items: center;
  border-top: 0.3rem solid#EBE9EA;
  border-bottom: 0.3rem solid#EBE9EA;
}
.contactMe .footerItems:nth-of-type(3) {
  margin-right: 2%;
}
.footerItems {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ebe9ea;
  width: 20rem;
  height: 7rem;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  /* border: 1px solid black; */
  transition: 0.3s;
}
.footerItems:hover {
  width: 22rem;
}
